body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #FF5733, #FFC300, #DAF7A6, #581845,red,green,blue,pink);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    position: relative;
}

.title {
    font-size: 3em;
    margin-bottom: 20px;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

button {
    padding: 10px 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #FF5733;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #C70039;
}

.wish {
    margin-top: 20px;
    font-size: 1.5em;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.wish.visible {
    opacity: 1;
}

.wish-card {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    animation: slideIn 0.5s forwards;
    backdrop-filter: blur(10px);
}

.wish-card p {
    font-weight: bold; /* Make text bold */
    color: #222; /* Darker color for the text */
}

@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
